Source: ros-melodic-grid-map
Section: misc
Priority: extra
Maintainer: Péter Fankhauser <pfankhauser@anybotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://github.com/ethz-asl/grid_map
Standards-Version: 3.9.2

Package: ros-melodic-grid-map
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-grid-map-core, ros-melodic-grid-map-cv, ros-melodic-grid-map-demos, ros-melodic-grid-map-filters, ros-melodic-grid-map-loader, ros-melodic-grid-map-msgs, ros-melodic-grid-map-ros, ros-melodic-grid-map-rviz-plugin, ros-melodic-grid-map-visualization
Description: Meta-package for the universal grid map library.
